<h1>Timelines</h1>

<div class="container-fluid">
  <% @tweets.each do |tweet| %>
    <div class="row">
      <%= tweet.body %>
      <%= tweet.user.email %>
      <%= tweet.posted_at.strftime('%Y/%m/%d %H:%M:%S') %>
    </div>
  <% end %>
</div>
